{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/autorefresh.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-sm bg-danger navbar-dark">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/admin">Admin</a>
      </li>
    </ul>
  </nav><br>
    <div class="wrapper">
      <div class="container-fluid">
        {% block table %}
        {% endblock %}
      </div>
    </div>
</body>

</html>
