{% extends "pagination/head.html" %}

{% block table %}
    <div class="container">

        <table class="table">
          <thead>
            <th>IP</th>
            <th>Port</th>
          </thead>
          <tbody>
            {% for status in port_status %}
              <tr>
                <td>{{ status.host }}</td>
                <td>
                  <a href="{% url 'table' %}?ip={{ status.host }}&port={{ status.port }}">{{ status.port }}</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

    </div>

{% endblock %}
