{% extends "pagination/head.html" %}

{% block table %}
    <div class="shadow-none p-3 mb-5 bg-light rounded">
      Latest data is queried on {{ latest_query | date:"l, d M Y H:i:s" }}
    </div>

    <div class="container">

      <table class="table table-bordered" style="background-color: white">
        <thead class="thead" >
          <th style="background-color: #545e6d; color:white; border-color: whitesmoke">Host</th>
          <th style="background-color: #545e6d; color:white; border-color: whitesmoke">Keterangan</th>
          <th style="background-color: #545e6d; color:white; border-color: whitesmoke">Port</th>
          <th style="background-color: #545e6d; color:white; border-color: whitesmoke">Status</th>
        </thead>
        <tbody>
          {% for host, status in port_status.items %}
          {% for item in status %}
            <tr>
              {% ifchanged %}
                <td rowspan="{{ status | length }}">{{ host }}</td>

                {% if item.keterangan == None %}
                <td rowspan="{{ status | length }}"></td>
                {% else %}
                <td rowspan="{{ status | length }}">{{ item.keterangan }}</td>
                {% endif %}

              {% endifchanged %}
              <td>
                <a href="{% url 'table' %}?ip={{ host }}&port={{ item.port }}">
                  {{ item.port }}
                </a>
              </td>
              {% if item.status == "1" %}
                <td style="color:green;">ON</td>
              {% else %}
                <td style="color:red;">OFF</td>
              {% endif %}
            </tr>
          {% endfor %}
          {% endfor %}
        </tbody>
      </table>

  </div>

{% endblock %}
