{% extends "pagination/head.html" %}

{% block table %}
          {% if port_status %}
              <h3>{{ ip }}:{{ port }}</h3>

              <form action="{% url 'table' %}">
                <input type="text" name="daterange" />
                <input type="hidden" id="ip" name="ip" value="">
                <input type="hidden" id="port" name="port" value="">
                  <script>
                  $(function() {
                    $('input[name="daterange"]').daterangepicker({
                      timePicker: true,
                      startDate: moment().startOf('hour'),
                      endDate: moment().startOf('hour').add(32, 'hour'),
                      locale: {
                        format: 'DD-MM-YYYY hh:mm:ss'
                      }
                    });
                  });

                  function getParameterByName(name) {
                      name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
                      var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                      results = regex.exec(location.search);
                      return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
                  }

                  $(function () {
                      var ip = getParameterByName('ip');
                      var port = getParameterByName('port');
                      console.log(ip);
                      if (ip !== '' || port !== '') {
                        $('#ip').val(ip);
                        $('#port').val(port);
                      }
                  });
                  </script>
                <input type="submit" value="Submit">
              </form>
                <table id="data" class="table table-bordered">
                    <thead class="thead">
                        <tr>
                            <th>Status</th>
                            <th>Timestamp</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for status_row in port_status %}
                        <tr>

                            <td>{{ status_row.status }}</td>
                            <td>{{ status_row.timestamp }}</td>

                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                      <tr>
                        <th></th>
                        <th></th>
                      </tr>
                    </tfoot>
                </table>
          {% else %}
            <div class="container">
              <div class="jumbotron">
                <h1 class="display-3">No status report, Sir</h1>
                <p class="lead">Try reloading the page or check the database</p>
              </div>
            </div>
          {% endif %}
{% endblock %}
